extends layout

block content
  section(class="info-container")
    h1 All Items
    table 
      tr 
        th Item Name 
        th Description 
        th Category 
        th Price 
        th Seller Name 
        th
      each item in item_list 
        tr 
          td=item.itemName 
          td=item.itemDescription 
          td=item.itemCategory 
          td=item.itemPrice
          td=item.itemSellerName
          td
            a(href=`/inventory/${item._id}`) View
    br
    br
    a(href="/inventory/add") Add Item
    