extends layout

block content
  section(class="info-container")
    h1 All Items
    table 
      tr 
        th Seller Name
        th Item Name 
        th Description 
        th Category 
        th Price 
        th
      if item_list.length > 0
        each item in item_list 
          tr 
            td
              a(href=`/seller/${item.itemSellerID}` class="seller-link") #{item.itemSellerName}        
            td=item.itemName 
            td=item.itemDescription 
            td=item.itemCategory 
            td=item.itemPrice          
            td
      else 
        tr 
          td(colspan="5" style="text-align: center") No Items Currently in Inventory
    br
    br
    a(href="/inventory/add") Add Item
    