extends layout 

block content 
  section(class="info-container") 
    h2 All Sellers 
    table
      tr 
        th Seller Name
        th Username
        th Email
        th Phone
        th
      if seller_list.length > 0
        each seller in seller_list 
          tr
            td
              a(href=`/seller/${seller._id}` class='seller-link') #{seller.sellerName}
            td=seller.sellerUsername
            td=seller.sellerEmail
            td=seller.sellerPhone
            td
      else
        tr 
          td(colspan="4" style="text-align: center;") No Sellers Found in System
        
    br
    br
    a(href="/") Go Back 