extends layout 

block content
  section(class="info-container")
    if item
        p Name: #{item.itemName}
        p Description: #{item.itemDescription}
        p Category: #{item.itemCategory}
        p Price: #{item.itemPrice}
    else
        p There are no items currently available.
    a(href="/inventory/all") Back to Inventory
    br
    a(href="/") Back Home
    br
    a(href=`/inventory/delete/${item._id}`) Delete
