extends layout 

block content
  section(class="info-container")
    if item
        p Name: #{item.name}
        p Description: #{item.description}
        p Category: #{item.category}
        p Price: #{item.price}
    else
        p There are no items currently available.
    a(href="/inventory/all") Back to Inventory
    br
    a(href="/") Back Home
    br
    a(href=`/inventory/delete/${item._id}`) Delete
