extends layout 

block content
  section(class="info-container")
    h2 Seller Information
      a(href=`/seller/update/${seller._id}` class="update-link") Update
    table 
      tr 
        th Username 
        th Seller Name 
        th Email
        th Phone
        th
      tr 
        td=seller.sellerUsername 
        td=seller.sellerName
        td=seller.sellerEmail 
        td=seller.sellerPhone
        td
    br
    br
    h2 Seller Items
    form(action=`/seller/${seller._id}` method="post" class=`${alertClass}`)
      section(class=`alert-section ${alertClass}`) Please remove all items from inventory before deleting seller. 
      table
        tr 
          th Item Name 
          th Description 
          th Category 
          th Price 
          th Delete 
          th
        if items.length > 0
          each item in items 
            tr 
              td=item.itemName 
              td=item.itemDescription
              td=item.itemCategory 
              td=item.itemPrice
              td
                input(type="checkbox" name=`_id` value=`${item._id}`)    
              td
        else
          tr
            td(colspan="5" style="text-align: center") No Items Related to Seller
      br
      br
      button(type="submit" class="remove-selected-btn") Remove Selected Items